<form action="/dishes/" method="post">
  <label for="name">name</label>
  <input id="name" name="name"type="text">

  <label for="image_url">img url</label>
  <input id="image_url" name="image_url" type="text">

  <button>post</button>
</form>