<div class="card" style="width: 300px;">
    <div class="card-divider">
      <%= @dishes['name'] %>
    </div>
    <img class="img-fluid" src="<%= @dishes['image_url']%>">
    <div class="card-section">
      <form action="/dishes" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="id" value="<%= @dishes['id']%>">
        <button>Delete</button>
      </form>
      <a href="/dishes/<%= @dishes['id']%>/edit">edit</a>
    </div>
  </div>