

<a href="/dishes/new">post new dish</a>

<% @dishes.each do |dish|%>

  <div class="card" style="width: 300px;">
    <div class="card-divider">
      <%= dish['name'] %>
    </div>
    <a href= "/dishes?id=<%=dish['id'] %>" ><img src="<%= dish['image_url']%>"></a>
  </div>
<% end %>