* {
  box-sizing: border-box;
}

body {
  background-color: mistyrose;
  
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: 'Shrikhand', cursive;
  border-bottom: 2px solid black;
}

main {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}